body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: aquamarine;
}

.nav {
  overflow: hidden;
  background-color: cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-family: "Lucida Console", Monaco, monospace; */
  font-size: 18px;
}

.nav a.active {
  background-color: #1a001a;
  color: #ffffff;
}

.nav a:hover {
  background-color: blue;
  color: #ffffff;
}

.content {
  padding: 10% 0% 10% 0%;
  color: #000000;
  text-align: center;
}

.item {
  width: 20%;
  height: 50%;
  margin: 20px;
  display: inline-block;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  font-size: 18px;
}
